{{ define "basic-post" -}}
    {{ template "basic-base" . }}
{{- end }}

{{ define "title" -}}
    {{ .Title.String }}
{{- end }}

{{ define "meta" -}}{{- end }}

{{ define "content" -}}
    <div class="post post-meta">
        <div id="post-title"><h1>{{ .Title.String }}</h1></div>
        {{ if .PublishedAt.Valid }}
            <div id="post-meta-date" class="post-meta-item">
                <span>Published At:</span>
                {{ .PublishedAt.Time | datetime }}
            </div>
        {{ end }}
        {{ if .ReadTime.Valid }}
            <div id="post-meta-read-time" class="post-meta-item">
                <span>Read Time:</span>
                {{ .ReadTime.String }}
            </div>
        {{ end }}
        <div id="post-meta-alternative-format" class="post-meta-item">
            <span>Format Available In:</span>
            <a href="{{ .Route }}">HTML</a>
            <a href="{{ .Route }}.md">Markdown</a>
        </div>
    </div>
    {{ if .CoverImage.Valid }}
        <div id="cover-image">
            <img alt="Cover image" src="{{ .CoverImage.String }}">
        </div>
    {{ end }}
    <div class="post post-html">
        {{ .HTML.String | html }}
    </div>
    <div class="post post-footer">
        <h3 id="subscribe-footer-title">Subscribe</h3>
        <p id="subscribe-footer-description">Sign up for infrequent emails from me. I promise not to be annoying, sell your email, or anything else evil.</p>
        <form method="post" class="input-group" id="subscribe-form">
            <input id="subscribe-email" type="email" name="email" placeholder="Email" required/>
            <button id="subscribe-email-submit" type="submit">Subscribe</button>
        </form>
        <p>&hearts;</p>
    </div>
{{- end }}